/*----------------- BTN MODAL WHATS ------------------*/

.modal-whats {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 998;
  color: #fff;
  width: 100%;
  max-width: 300px;
  transform: translateX(350px);
  transition: all 0.3s ease-in-out;
}

.modal-whats.active {
  transform: translateX(0);
}

.modal-whats-top {
  display: flex;
  gap: 24px;
  align-items: center;
  background-color: #0a6055;
  padding: 16px 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal-whats-top img {
  width: 100px;
  height: auto;
}

.modal-whats-middle {
  background-image: url("../../images/whats-button/bg-whats.png");
  padding: 32px 16px;
  position: relative;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.modal-whats-middle input {
  height: 46px;
  width: 100%;
  margin: 0 0 8px;
  background: #ffffff;
  box-shadow: 0px 3px 5px rgba(112, 112, 112, 0.15);
  padding-left: 8px;
  outline: none;
  border: none;
  max-width: inherit;
}

.modal-whats-middle .last-input {
  margin: 0 0 72px;
}

.modal-whats-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  justify-content: center;
  padding: 16px 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.modal-whats-bottom .icon-whats {
  position: absolute;
  left: 15%;
  top: 28px;
}

.modal-whats-bottom input[type="submit"] {
  width: 100%;
  margin: 0 auto;
  background-color: #12c655;
  color: #fff;
  cursor: pointer;
}
.label-form {
  position: relative;
}
.label-form-whats {
  position: absolute;
  color: #919191;
  top: 13px;
  left: 8px;
}

.modal-whats-middle input:focus {
  border: 1px solid #07af69;
}

.wpcf7-spinner {
  position: absolute;
}

/*-----BTN WHATS FLOATING---------*/
.btn-floating {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 30px 20px 0;
  z-index: 999;
  cursor: pointer;
  animation: pulse 3s infinite;
  background: #12c655;
  padding: 12px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  display: flex;
}
.btn-floating.active {
  background: #fff;
}

.btn-floating.active .whats-float {
  display: none;
}

.btn-floating .x-float {
  display: none;
}

.btn-floating.active .x-float {
  display: block;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}
