@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

.obrigado {
  background: var(--primary);
}

.obrigado .container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
}

.obrigado .container .logo {
  margin-bottom: 40px;
}

.obrigado h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #2cb459;
}

.obrigado h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-top: 8px;
}

.obrigado button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: linear-gradient(0deg, #2cb459, #2cb459),
    linear-gradient(116.7deg, #8740c9 -0.22%, #552582 84.21%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
}

.mid_obrigado a button {
  margin: 40px auto;
}

.mid_obrigado {
  max-width: 808px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bottom_obrigado {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  align-items: center;
  justify-content: center;
}

.socials_obrigado {
  margin-top: 8px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.bottom_obrigado .contact_box_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottom_obrigado img{
    transform: scale(1.5);
}

.bottom_obrigado .socials_footer{
    gap: 32px;
}

@media (max-width: 768px) {
  .obrigado h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .obrigado .container {
    padding: 0 20px;
  }
}
