* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans";
}

body {
  background-color: var(--primary-800);
}

.white {
  color: #fff;
}

.opacity75 {
  opacity: 0.75;
}

:root {
  --primary: #130025;
  --primary-100: #b6b0bb;
  --primary-200: #928a9b;
  --primary-300: #61546d;
  --primary-400: #423351;
  --primary-500: #130025;
  --primary-600: #110022;
  --primary-700: #0d001a;
  --primary-800: #0a0014;
  --primary-900: #080010;
  --secondary: #2c3740;

  --gray01: #212529;
  --gray02: #343a40;
  --gray03: #6e7191;
  --gray04: #a0a3bd;
  --gray05: #d6d8e7;
  --gray06: #f7f7fc;
  --black: #040607;
  --white: #fff;
  --text-white: #e7e6e9;

  --BG-Hor: linear-gradient(90deg, #e54a64 -0.31%, #fd9253 99.69%);
  --BG-Ver: linear-gradient(180deg, #e54a64 0%, #fd9453 100%);
}

a {
  text-decoration: none;
  color: black;
  display: flex;
}

li {
  list-style: none;
}

.heading48 {
  font-family: "Open Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -1.44px;
}

.heading40 {
  font-family: "Open Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -1.2px;
}

.heading30 {
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.9px;
}

.heading24 {
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.72px;
}

.heading20 {
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.6px;
}

.heading18 {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.54px;
}

.heading16 {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.54px;
}

.label {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.42px;
}

.body18 {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.body16 {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.body14 {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.body12 {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
}

.body10 {
  font-family: "Open Sans";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.button18 {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border: none;
}

.button16 {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}

.button14 {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
  border: none;
  width: fit-content;
  text-transform: uppercase;
}

.link16 {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: none;
  cursor: pointer;
}

.link14 {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border: none;
  cursor: pointer;
}

.label4 {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.overline16 {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.overline14 {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.overline12 {
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.font400 {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.semi_bold {
  font-weight: 600;
}

.extra_bold {
  font-weight: 800;
}

button {
  background-color: transparent;
  border: none;
}

.background_center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.primary {
  color: var(--primary);
}

.text_linear_vert {
  background: var(--BG-Vert, linear-gradient(180deg, #e54a64 0%, #fd9453 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_linear_hor {
  background: var(--BG-Hor, linear-gradient(90deg, #e54a64 -0.31%, #fd9253 99.69%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondary {
  color: var(--secondary);
}

.gray {
  color: var(--gray01);
}

.gray2 {
  color: var(--gray02);
}

.gray3 {
  color: var(--gray03);
}

.gray4 {
  color: var(--gray04);
}

.gray5 {
  color: var(--gray05);
}

.gray6 {
  color: var(--gray06);
}

.white {
  color: var(--text-white);
}

.black {
  color: var(--black);
}

.light {
  color: #e9f9fc;
}

/* base*/
.container {
  max-width: 1224px;
  margin: 0 auto;
}

.button_primary {
  border-radius: 4px;
  background: var(--BG-Hor, linear-gradient(90deg, #e54a64 -0.31%, #fd9253 99.69%));
  color: var(--white);
  padding: 10px 20px;
  width: fit-content;
  cursor: pointer;
}

.button_primary:hover {
  transform: scale(0.98);
}
.button_transparent {
  background: transparent;
  color: var(--white);
  padding: 10px 20px;
  width: fit-content;
  cursor: pointer;
  border: 1px solid #fff;
}

.button_transparent:hover {
  transform: scale(0.98);
}

.button_secondary {
  background: var(--secondary);
  color: var(--white);
  padding: 10px 20px;
  width: fit-content;
  cursor: pointer;
}

.button_secondary:hover {
  transform: scale(0.98);
}

.fit_content {
  width: fit-content;
}

.margin4 {
  margin-bottom: 4px;
}

.margin8 {
  margin-bottom: 8px;
}

.margin12 {
  margin-bottom: 12px;
}

.margin16 {
  margin-bottom: 16px;
}

.margin24 {
  margin-bottom: 24px;
}

.margin32 {
  margin-bottom: 32px;
}

.margin40 {
  margin-bottom: 40px;
}

.flex {
  display: flex;
}

.ajust_gap {
  display: flex;
  align-items: center;
}

.ajust_gap4 {
  display: flex;
  align-items: center;
  gap: 4px;
}

.ajust_gap8 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ajust_gap12 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ajust_gap16 {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.ajust_gap20 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.ajust_gap24 {
  display: flex;
  align-items: center;
  gap: 24px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fit_content {
  width: fit-content;
}

.full_width {
  width: 100%;
}

.hover_primary:hover {
  transition: 0.3s;
  color: var(--primary);
}

.hover_secondary:hover {
  transition: 0.3s;
  color: var(--secondary);
}

.style_subtitle {
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid var(--Primary-Normal, #0067ff);
  background: var(--Gray5, #fff);
  width: fit-content;
}

@media (max-width: 768px) {
  .heading48 {
    font-size: 34px;
  }

  .heading40 {
    font-size: 30px;
  }
}

.animação {
  transform: translateY(0px);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.font300 {
  font-weight: 300;
}

.font500 {
  font-weight: 500;
}

.font600 {
  font-weight: 600;
}

.font700 {
  font-weight: 700;
}

.font800 {
  font-weight: 800;
}

.font900 {
  font-weight: 900;
}

.upper {
  text-transform: uppercase;
}
